body {
    margin: 30px;
    background-color: #212529;
    color: #f8f9fa;
}

.w250 {
    width: 250px;
}

.btnsize {
    width: 105px;
}

.artistColor {
    color: rgb(184, 183, 183);
}

.artistColor:hover {
    text-decoration: underline;
}

.songImg {
    height: 50%;
}

.songCard {
    background-color: #333333;
    border-radius: var(--bs-border-radius);
    padding: 30px;
    margin-top: 4px;
    margin-bottom: 4px;
}

a {
    text-decoration: none;
}

.songTitle {
    color: white;
}

.songTitle:hover {
    text-decoration: underline;
}

.progressBar {
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 3px;
}

.progressSec {
    float: inline-start;
}

.durationSec {
    float: inline-end;
}

.volumeLabel {
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    margin-bottom: -15px;
}

.volumeBar {
    height: 3px;
}

.volumeBar:hover,
.volumeLabel:hover {
    cursor: ew-resize;
}

#volume {
    user-select: none;
}

.artists {
    display: inline-block;
}

.dropdown-item-dark {
    background-color: transparent;
    color: #f8f9fa;
}

.dropdown-item-dark:hover,
.dropdown-item-dark:focus {
    background-color: #444 !important;
    color: #fff !important;
}